/* start of the header css */
.banner {
  width: 100%;
  height: 30vh;
  background-color: black;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/kk.jpg);
  background-size: cover;
  background-position: center;
}
.navbar {
  width: 85;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.logo {
  width: 120px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  right: 5%;
  bottom: 7px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover:after {
  width: 100%;
}
.sub-menu {
  display: none;
  position: relative;
  top: 10px;
  left: -15px;
}
.sub-menu ul li {
  position: relative;
  left: -5px;
  margin-bottom: 10px;
  top: 2px;
}
.sub-men ul li {
  position: relative;
  left: -5px;
  bottom: 10px;
  margin-bottom: 10px;
  top: 1;
}
.sub-men {
  display: none;
  position: relative;
  top: 80px;
  right: 90px;
}
.banner ul li:hover .sub-men {
  display: block;
  position: absolute;
  background-color: rgb(0, 45, 117);
  margin-top: 12px;
  margin-left: -8px;
}
.sub-menu ul,
.sub-men ul {
  position: absolute;
}
.banner ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: rgb(0, 45, 117);
  margin-top: 12px;
  margin-left: -8px;
}
.banner ul li:hover .sub-menu ul {
  display: block;
  margin: 6px;
}

.banner ul li:hover .sub-menu ul li a {
  width: 75px;
  padding: 5px;
  border-bottom: 1px #fff;
  background: transparent;
  transition: 0.4 ease;
  text-align: left;
  border-radius: 0px;
}
.login-icon {
  width: 40px;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 30px;
}
/* osh */
.login {
  width: 70px;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 30px;
}

/* end of the header css */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

.container {
  background: #820a14;
  padding: 15px 9%;
  padding-bottom: 100px;
}

.container .heading {
  text-align: center;
  padding-bottom: 15px;
  color: #fff;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-size: 50px;
}

.container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 40px;
}

.container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #fff;
  text-align: center;
  padding: 30px 20px;
}

.container .box-container .box img {
  height: 80px;
}

.container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
}

.container .box-container .box p {
  color: #777;
  font-size: 15px;
  line-height: 1.8;
}

.container .box-container .box .btn {
  margin-top: 10px;
  display: inline-block;
  background: #333;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  padding: 8px 25px;
}

.container .box-container .box .btn:hover {
  letter-spacing: 1px;
}

.container .box-container .box:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  transform: scale(1.03);
}

@media (max-width: 768px) {
  .container {
    padding: 20px;
  }
}

/*Fottetr*/
.footer {
  background-color: gray;
  padding: 70px 0;
}

.footerContainer {
  max-width: 1170px;
  margin: auto;
}
ul {
  list-style: none;
}
.sociallinks ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.row {
  display: flex;
  flex-wrap: none;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all o.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .sociallinks li a {
  display: inline-block;
  height: 40px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 10%;
  color: blue;
  transition: all 0.5s ease;
}

.footer-col .sociallinks a:hover {
  color: black;
  background-color: red;
  width: 1px;
}
/*Responsive-fotter*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
